body {
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  background-color: black;
}

p {
  color: black;
}

header {
  background-color: gray;
}

col-2.col-md-1.hour.text-center.py-3 {
  background-color: red;
}

textarea {
  background: transparent;
  border: none;
  resize: none;
  color: black;
  font-weight: 1000;
  border-left: 4px solid red;
  padding: 10px;
}

button.delete-button {
  background-color: red;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
  color: black;
  margin-bottom: 15px;
  display: flex;
  border: black 1px solid;
  border-radius: 15px;
}

.description {
  white-space: pre-wrap;
}

.time-block {
  border-radius: 15px;
}

.row {
  border-top: 1px solid white;
}

.hour {
  background-color: black;
  color: red;
  border-top: 1px dashed #000000;
}

.past {
  background-color: gray;
}

.present {
  background-color: green;
  color: green;
}

.future {
  background-color: yellow;
  color: red;
}

.saveBtn {
  border-left: 4px solid white;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: black;
  color: red;
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all 0.3s ease-in-out;
  color: red;
}
